[submodule ".zsh/plugins/fzf-tab"]
	path = .zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule ".zsh/plugins/alias-tips"]
	path = .zsh/plugins/alias-tips
	url = https://github.com/djui/alias-tips.git
[submodule ".zsh/plugins/zsh-fzf-widgets"]
	path = .zsh/plugins/zsh-fzf-widgets
	url = https://github.com/amaya382/zsh-fzf-widgets
[submodule ".zsh/plugins/fzf-git.sh"]
	path = .zsh/plugins/fzf-git.sh
	url = https://github.com/junegunn/fzf-git.sh
