[user]
	name = Luis Medina
	email = luis.hmedinag@gmail.com

[alias]
	undo = reset --soft HEAD^
[diff]
	colorMoved = zebra
[format]
	pretty = oneline
[pull]
	rebase = false
[core]
	editor = code --wait
[rerere]
	enabled = true
[init]
	defaultBranch = main
