[user]
	name = Luis Medina
	email = luis.m.medina@oracle.com

[alias]
	undo = reset --soft HEAD^
[diff]
	colorMoved = zebra
[format]
	pretty = oneline
# [rebase]
# 	autosquash = true
# 	instructionFormat = (%an <%ae>) %s
[pull]
	rebase = false
[core]
	editor = code --wait
[rerere]
	enabled = true
